input[type="file"] {
  display: none;
}
.custom-file-upload {
  border-radius: 50px;
  background: #0275d8;
  white-space: nowrap;
  padding: 10px 22px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  float: right;
}
